//COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7300;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;


$grey-light-1: #f7f7f7;
$grey-dark: #777;
$grey-very-dark: #444;

$white: #fff;
$black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
